<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">  Energy </h1>

    
    <% /* %>

    <p class="secret-text">Price :   <%= prices %></p>
    <p class="secret-text">Time  :   <%= day %></p>
    <% */ %>

    <p class="secret-text">Forecasted Energy</p>
    <hr>
    
    <table style="width:100%" class="table table-striped" id="customers" >
      <thead>
        <tr>
          <th>Time</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< day.length;i++) { %>
            <tr scope="row">            
            <td scope="col"><%= day[i] %> : 00</td>
            <td scope="col"><%= prices[i] %></td>           
          </tr>
      
          <%  } %>
      </tbody>

</table>
















    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> 
  </div>
</div>

<%- include('partials/footer') %>
